[Desktop Entry]
Name=Local Backup Manager
Comment=Pantau perubahan file otomatis dan simpan backup ke lokal/cloud
Exec=local-backup-manager
Icon=local-backup-manager
Terminal=false
Type=Application
Categories=Utility;Archiving;
